div.gallery {
  border: 1px solid #ccc; transition: 0.3s; opacity: 0.9;
}

div.gallery:hover {
  border: 1px solid #777; box-shadow: 10px 5px #C0C0C0;
  opacity: 1;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 5px;
  text-align: center;
}

* {
  box-sizing: border-box;
}

.responsive {
  padding: 5px 8px;
  float: left;
  width: 24.99999%;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
}